* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(39, 39, 39);
}

.login .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 30%;
  background-color: #fff;
  color: black;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 15px black;
}

.login h1 {
  margin: 10px auto;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin: 0.2rem 0;
}

.login input {
  margin: 0.2rem 0;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border-color: rgba(0, 0, 0, 0.17);
  font-size: 1.2rem;
}

.login button {
  margin: 1rem 0px;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: #0780ec;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.17);
}

.errorMsg {
  color: rgb(185, 0, 0);
}
.dashboard {
  background: rgb(39, 39, 39);
  color: #fff;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(39, 39, 39);
}

.dashboard h1 {
  text-align: center;
}

h1,
h2,
h4,
h5,
h6 {
  text-align: center;
  width: 100%;
  margin: 2rem 0;
}

h3 {
  margin: 2rem;

  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1rem;
  border-color: #000;
}
.customer {
  width: 20%;

  border: 1px solid white;
}

.menu {
  width: 80%;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
}

.food {
  border: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.check_box {
  padding: 3rem;
  border: 1px solid white;
}
.check_box label {
  font-size: 1.2rem;
}

.resume {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.bill {
  height: 80%;
  display: flex;
  flex-direction: row;
}

.price {
  height: 20%;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}

.veg {
  width: 50%;
}

.nor {
  width: 50%;
}
